<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 header-container">
      <h1 class = "text-center headline">{{title}}</h1>
    </div>
      </div>
    <div class="row nav-section">
      <div class="col-md-6 col-md-offset-3">
        <div class="col-md-4"><a class="dash-btns humans" routerLink="/db-characters">Humans</a></div>
        <div class="col-md-4"><a class="dash-btns saiyans" routerLink="/saiyans">Saiyans</a></div>
        <div class="col-md-4"><a class="dash-btns nameks" routerLink="/nameks">Namek</a></div>

      </div>
    </div>

</div>

<router-outlet></router-outlet>
